<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!--
    Add a logger config to see logging messages.
    - For more detailed logs, set values to "FINEST"
    - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
    -->
    <bean id="myLoggerConfig" class="com.kryptovos.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!-- Load the properties -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define dependecy -->
    <bean id="myFortuneService"
          class="com.kryptovos.HappyFortuneService">
    </bean>

    <bean id="mySadFortuneService"
          class="com.kryptovos.SadFortuneService">
    </bean>

    <!-- Define your "coach" beans here -->
    <bean id="myCoach"
          class="com.kryptovos.SoccerCoach">
        <!-- Set up constructor injection -->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach" class="com.kryptovos.CricketCoach" lazy-init="true">
        <property name="fortuneService" ref="myFortuneService"/>
        <!-- Inject literal values hardcoded -->
        <!--        <property name="emailAdddress" value="thebestcoach@blabla.com"/>-->
        <!--        <property name="team" value="Havana Bee's"/>-->

        <!-- Insert with properties file -->
        <property name="emailAdddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

    <bean id="TheSadCoach"
          class="com.kryptovos.SadCoach">
        <!-- Set up constructor injection -->
        <constructor-arg ref="mySadFortuneService"/>
    </bean>


</beans>





